*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 
 
 body {

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4d467 !important;
  height: 100vh;
}

.lang{
  transition: box-shadow .5s;
}
.lang:hover{
  box-shadow: 3px 3px 20px 1px rgba(0, 0, 0, .5);
}

.lang-logo{
  transition: transform .5s;
}

.lang:hover .lang-logo{
  transform: scale(1.3);
}



